<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="dataBaseName" value="cristian"/>
    </appSettings>
    <connectionStrings>
      <add name="panchi" connectionString="Data Source=DESKTOP-FMEHQAG;Initial Catalog=db_gran_colo;Integrated Security=True"/>
      <add name="cristian" connectionString="Data Source=DESKTOP-P3GHDS3;Initial Catalog=db_gran_colo;Integrated Security=True"/>
      <add name="pav" connectionString="Data Source=maquis;Initial Catalog=BugTracker;User ID=avisuales1;Password=avisuales1"/>
    </connectionStrings>
</configuration>

