<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- Cambiar value, por base de datos a usar -->
      <add key="dataBaseName" value="cristian" />
    </appSettings>
    <connectionStrings>
      <add name="dario" connectionString="Data Source=DARIO-PC\SQLEXPRESS;Initial Catalog=BD-GranColo;Integrated Security=True" />
      <add name="panchi" connectionString="Data Source=DESKTOP-FMEHQAG;Initial Catalog=db_gran_colo;Integrated Security=True" />
      <add name="cristian" connectionString="Data Source=DESKTOP-QIHNFT0;Initial Catalog=db_gran_colo;Integrated Security=True" />
      <add name="pav" connectionString="Data Source=maquis;Initial Catalog=BugTracker;User ID=avisuales1;Password=avisuales1" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.0.0" newVersion="15.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

