USE [master]


	
CREATE DATABASE [db_gran_colo]
GO

USE [db_gran_colo]
GO
-------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------

/****** Object:  Table [dbo].[Jugador]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugador](
	[idJugador] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[idClub] [int] NOT NULL,
	[idPosicion] [int] NOT NULL,
	[idEstadoActual] [int] NOT NULL,
	[nroDoc] [int] NOT NULL,
	[tipoDoc] [int] NOT NULL,
	[costo] [float](15) NOT NULL,
 CONSTRAINT [PK_Jugador] PRIMARY KEY CLUSTERED 
(
	[idJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posicion]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posicion](
	[idPosicion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	
 CONSTRAINT [PK_Posicion] PRIMARY KEY CLUSTERED 
(
	[idPosicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoActual]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoActual](
	[idEstadoActual] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NOT NULL,
 CONSTRAINT [PK_EstadoActual] PRIMARY KEY CLUSTERED 
(
	[idEstadoActual] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDocumento]    *****/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumento](
	[idTipoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoDocumento] PRIMARY KEY CLUSTERED 
(
	[idTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipo]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipo](
	[idEquipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idDirectorTecnico] [int] NOT NULL,
	[lema] [varchar] (100) NULL,
	[color] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Equipo] PRIMARY KEY CLUSTERED 
(
	[idEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[idColor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[idColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torneo] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torneo](
	[idTorneo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Torneo] PRIMARY KEY CLUSTERED 
(
	[idTorneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Club]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Club](
	[idClub] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fechaFundacion] [date] NULL,
	[nombreEstadio] [varchar](50) NOT NULL,
	[aforo] [int] NOT NULL,
	[idLocalidad] [int] NOT NULL,
	[calle] [varchar](50) NOT NULL,
	[nroCalle] [int] NOT NULL,
 CONSTRAINT [PK_Club] PRIMARY KEY CLUSTERED 
(
	[idClub] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FechaXTorneoXEquipo]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FechaXTorneoXEquipo](
	[nroFecha] [int] NOT NULL,
	[idTorneo] [int] NOT NULL,
	[idClubLocal] [int] NOT NULL,
	[idClubVisitante] [int] NOT NULL,
	[hora] [time] NOT NULL,
	[fecha] [date] NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FechaXTorneoXEquipo] PRIMARY KEY CLUSTERED 
(
	[nroFecha] ASC,
	[idTorneo] ASC,
	[idClubLocal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FechaXTorneo]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FechaXTorneo](
	[nroFecha] [int] NOT NULL,
	[idTorneo] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FechaXTorneo] PRIMARY KEY CLUSTERED 
(
	[nroFecha] ASC,
	[idTorneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JugadorXFechaXTorneo]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JugadorXFechaXTorneo](
	[nroFecha] [int] NOT NULL,
	[idTorneo] [int] NOT NULL,
	[idJugador] [int] NOT NULL,
	[puntosJugador] [int] NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_JugadorXFechaXTorneo] PRIMARY KEY CLUSTERED 
(
	[nroFecha] ASC,
	[idTorneo] ASC,
	[idJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fecha]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fecha](
	[nroFecha] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Fecha] PRIMARY KEY CLUSTERED 
(
	[nroFecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipoXJugador]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipoXJugador](
	[idEquipo] [int] NOT NULL,
	[idJugador] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EquipoXJugador] PRIMARY KEY CLUSTERED 
(
	[idEquipo] ASC,
	[idJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FechaXEquipoXJugador]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FechaXEquipoXJugador](
	[nroFecha] [int] NOT NULL,
	[idTorneo] [int] NOT NULL,
	[idJugador] [int] NOT NULL,
	[idEquipo] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FechaXEquipoXJugador] PRIMARY KEY CLUSTERED 
(
	[nroFecha] ASC,
	[idTorneo] ASC,
	[idJugador] ASC,
	[idEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DirectorTenico]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DirectorTecnico](
	[idDirectorTecnico] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[nroDoc] [int] NOT NULL,
	[tipoDoc] [int] NOT NULL,
	[nombreUsuario] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[email] [varchar](50) NULL,
	[idClubHincha] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DirectorTenico] PRIMARY KEY CLUSTERED 
(
	[idDirectorTecnico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidad]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[idLocalidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idProvincia] [int] NOT NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[idLocalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[idProvincia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[idProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


SET IDENTITY_INSERT [dbo].[Posicion] ON 

INSERT [dbo].[Posicion] ([idPosicion], [nombre]) VALUES (1, N'arquero')
INSERT [dbo].[Posicion] ([idPosicion], [nombre]) VALUES (2, N'defensor')
INSERT [dbo].[Posicion] ([idPosicion], [nombre]) VALUES (3, N'mediocampista')
SET IDENTITY_INSERT [dbo].[Posicion] OFF

SET IDENTITY_INSERT [dbo].[TipoDocumento] ON 

INSERT [dbo].[TipoDocumento] ([idTipoDocumento], [nombre]) VALUES (1, N'DNI')
INSERT [dbo].[TipoDocumento] ([idTipoDocumento], [nombre]) VALUES (2, N'CARNET DE EXTRANJERIA')
INSERT [dbo].[TipoDocumento] ([idTipoDocumento], [nombre]) VALUES (3, N'REG. UNICO DE CONTRIBUYENTES')
SET IDENTITY_INSERT [dbo].[TipoDocumento] OFF

SET IDENTITY_INSERT [dbo].[EstadoActual] ON 

INSERT [dbo].[EstadoActual] ([idEstadoActual], [nombre]) VALUES (1, N'habilitado')
INSERT [dbo].[EstadoActual] ([idEstadoActual], [nombre]) VALUES (2, N'suspendido')
INSERT [dbo].[EstadoActual] ([idEstadoActual], [nombre]) VALUES (3, N'lesionado')
SET IDENTITY_INSERT [dbo].[EstadoActual] OFF

SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([idColor], [nombre]) VALUES (1, N'Azul')
INSERT [dbo].[Color] ([idColor], [nombre]) VALUES (2, N'Rojo')
INSERT [dbo].[Color] ([idColor], [nombre]) VALUES (3, N'Verde')
SET IDENTITY_INSERT [dbo].[Color] OFF

SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([idProvincia], [nombre]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[Provincia] ([idProvincia], [nombre]) VALUES (2, N'Cordoba')
INSERT [dbo].[Provincia] ([idProvincia], [nombre]) VALUES (3, N'Santa Fe')
SET IDENTITY_INSERT [dbo].[Provincia] OFF

SET IDENTITY_INSERT [dbo].[Localidad] ON 

INSERT [dbo].[Localidad] ([idLocalidad], [nombre], [idProvincia]) VALUES (1, N'Buenos Aires', 1)
INSERT [dbo].[Localidad] ([idLocalidad], [nombre], [idProvincia]) VALUES (2, N'Avellaneda', 1)
INSERT [dbo].[Localidad] ([idLocalidad], [nombre], [idProvincia]) VALUES (3, N'La plata', 1)
SET IDENTITY_INSERT [dbo].[Localidad] OFF

SET IDENTITY_INSERT [dbo].[Club] ON 

INSERT [dbo].[Club] ([idClub], [nombre], [fechaFundacion], [nombreEstadio], [aforo], [idLocalidad], [calle], [nroCalle]) VALUES (1, N'Boca Juniors', CAST(N'1905-04-03' AS Date), N'La bombonera', N'49000', 1, N'Brandsen', N'805')
INSERT [dbo].[Club] ([idClub], [nombre], [fechaFundacion], [nombreEstadio], [aforo], [idLocalidad], [calle], [nroCalle]) VALUES (2, N'River Plate', CAST(N'1901-05-25' AS Date), N'El monumental', N'70074', 1, N'Av. Figueroa Alcorta', N'7597')
INSERT [dbo].[Club] ([idClub], [nombre], [fechaFundacion], [nombreEstadio], [aforo], [idLocalidad], [calle], [nroCalle]) VALUES (3, N'Racing', CAST(N'1903-03-25' AS Date), N'El cilindro de Avellaneda', N'60000', 2, N'Diego A. Milito', N'500')
SET IDENTITY_INSERT [dbo].[Club] OFF

/* USUARIO DE PRUEBA */

SET IDENTITY_INSERT [dbo].[DirectorTecnico] ON

INSERT [dbo].[DirectorTecnico] ([idDirectorTecnico], [nombre], [apellido], [nroDoc], [tipoDoc], [nombreUsuario], [password], [email], [idClubHincha], [estado]) VALUES (1, N'juan jose', N'lopez', N'456789', 1, N'juan', N'123zxc', N'hola@gmail.com', 1, N'S')
SET IDENTITY_INSERT [dbo].[DirectorTecnico] OFF

ALTER TABLE [dbo].[Jugador]  WITH CHECK ADD  CONSTRAINT [FK_Jugador_Club] FOREIGN KEY([idClub])
REFERENCES [dbo].[Club] ([idClub])
GO
ALTER TABLE [dbo].[Jugador] CHECK CONSTRAINT [FK_Jugador_Club]
GO
ALTER TABLE [dbo].[Jugador]  WITH CHECK ADD  CONSTRAINT [FK_Jugador_Posicion] FOREIGN KEY([idPosicion])
REFERENCES [dbo].[Posicion] ([idPosicion])
GO
ALTER TABLE [dbo].[Jugador] CHECK CONSTRAINT [FK_Jugador_Posicion]
GO
ALTER TABLE [dbo].[Jugador]  WITH CHECK ADD  CONSTRAINT [FK_Jugador_EstadoActual] FOREIGN KEY([idEstadoActual])
REFERENCES [dbo].[EstadoActual] ([idEstadoActual])
GO
ALTER TABLE [dbo].[Jugador] CHECK CONSTRAINT [FK_Jugador_EstadoActual]
GO
ALTER TABLE [dbo].[Jugador]  WITH CHECK ADD  CONSTRAINT [FK_Jugador_TipoDocumento] FOREIGN KEY([tipoDoc])
REFERENCES [dbo].[TipoDocumento] ([idTipoDocumento])
GO
ALTER TABLE [dbo].[Jugador] CHECK CONSTRAINT [FK_Jugador_TipoDocumento]
GO
ALTER TABLE [dbo].[Equipo]  WITH CHECK ADD  CONSTRAINT [FK_Equipo_DirectorTecnico] FOREIGN KEY([idDirectorTecnico])
REFERENCES [dbo].[DirectorTecnico] ([idDirectorTecnico])
GO
ALTER TABLE [dbo].[Equipo] CHECK CONSTRAINT [FK_Equipo_DirectorTecnico]
GO
ALTER TABLE [dbo].[Equipo]  WITH CHECK ADD  CONSTRAINT [FK_Equipo_Color] FOREIGN KEY([color])
REFERENCES [dbo].[Color] ([idColor])
GO
ALTER TABLE [dbo].[Equipo] CHECK CONSTRAINT [FK_Equipo_Color]
GO
ALTER TABLE [dbo].[Club]  WITH CHECK ADD  CONSTRAINT [FK_Club_Localidad] FOREIGN KEY([idLocalidad])
REFERENCES [dbo].[Localidad] ([idLocalidad])
GO
ALTER TABLE [dbo].[Club] CHECK CONSTRAINT [FK_Club_Localidad]
GO
ALTER TABLE [dbo].[FechaXTorneo]  WITH CHECK ADD  CONSTRAINT [FK_FechaXTorneo_Torneo] FOREIGN KEY([idTorneo])
REFERENCES [dbo].[Torneo] ([idTorneo]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FechaXTorneo] CHECK CONSTRAINT [FK_FechaXTorneo_Torneo]
GO
ALTER TABLE [dbo].[FechaXTorneo]  WITH CHECK ADD  CONSTRAINT [FK_FechaXTorneo_Fecha] FOREIGN KEY([nroFecha])
REFERENCES [dbo].[Fecha] ([nroFecha]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FechaXTorneo] CHECK CONSTRAINT [FK_FechaXTorneo_Fecha]
GO
ALTER TABLE [dbo].[FechaXTorneoXEquipo]  WITH CHECK ADD  CONSTRAINT [FK_FechaXTorneoXEquipo_FechaXTorneo] FOREIGN KEY([nroFecha],[idTorneo])
REFERENCES [dbo].[FechaXTorneo] ([nroFecha],[idTorneo]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FechaXTorneoXEquipo] CHECK CONSTRAINT [FK_FechaXTorneoXEquipo_FechaXTorneo]
GO
ALTER TABLE [dbo].[FechaXTorneoXEquipo]  WITH CHECK ADD  CONSTRAINT [FK_FechaXTorneoXEquipo_Club] FOREIGN KEY([idClubLocal])
REFERENCES [dbo].[Club] ([idClub]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FechaXTorneoXEquipo] CHECK CONSTRAINT [FK_FechaXTorneoXEquipo_Club]
GO
ALTER TABLE [dbo].[FechaXTorneoXEquipo]  WITH CHECK ADD  CONSTRAINT [FK_FechaXTorneoXEquipo_Club1] FOREIGN KEY([idClubVisitante])
REFERENCES [dbo].[Club] ([idClub]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FechaXTorneoXEquipo] CHECK CONSTRAINT [FK_FechaXTorneoXEquipo_Club1]
GO
ALTER TABLE [dbo].[JugadorXFechaXTorneo]  WITH CHECK ADD  CONSTRAINT [FK_JugadorXFechaXTorneo_FechaXTorneo] FOREIGN KEY([nroFecha],[idTorneo])
REFERENCES [dbo].[FechaXTorneo] ([nroFecha],[idTorneo]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JugadorXFechaXTorneo] CHECK CONSTRAINT [FK_JugadorXFechaXTorneo_FechaXTorneo]
GO
ALTER TABLE [dbo].[JugadorXFechaXTorneo]  WITH CHECK ADD  CONSTRAINT [FK_JugadorXFechaXTorneo_Jugador] FOREIGN KEY([idJugador])
REFERENCES [dbo].[Jugador] ([idJugador]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JugadorXFechaXTorneo] CHECK CONSTRAINT [FK_JugadorXFechaXTorneo_Jugador]
GO
ALTER TABLE [dbo].[EquipoXJugador]  WITH CHECK ADD  CONSTRAINT [FK_EquipoXJugador_Equipo] FOREIGN KEY([idEquipo])
REFERENCES [dbo].[Equipo] ([idEquipo]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EquipoXJugador] CHECK CONSTRAINT [FK_EquipoXJugador_Equipo]
GO
ALTER TABLE [dbo].[EquipoXJugador]  WITH CHECK ADD  CONSTRAINT [FK_EquipoXJugador_Jugador] FOREIGN KEY([idJugador])
REFERENCES [dbo].[Jugador] ([idJugador]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EquipoXJugador] CHECK CONSTRAINT [FK_EquipoXJugador_Jugador]
GO
ALTER TABLE [dbo].[FechaXEquipoXJugador]  WITH CHECK ADD  CONSTRAINT [FK_FechaXEquipoXJugador_EquipoXJugador] FOREIGN KEY([idEquipo],[idJugador])
REFERENCES [dbo].[EquipoXJugador] ([idEquipo],[idJugador]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FechaXEquipoXJugador] CHECK CONSTRAINT [FK_FechaXEquipoXJugador_EquipoXJugador]
GO
ALTER TABLE [dbo].[FechaXEquipoXJugador]  WITH CHECK ADD  CONSTRAINT [FK_FechaXEquipoXJugador_FechaXTorneo] FOREIGN KEY([nroFecha],[idTorneo])
REFERENCES [dbo].[FechaXTorneo] ([nroFecha],[idTorneo]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FechaXEquipoXJugador] CHECK CONSTRAINT [FK_FechaXEquipoXJugador_FechaXTorneo]
GO
ALTER TABLE [dbo].[DirectorTecnico]  WITH CHECK ADD  CONSTRAINT [FK_DirectorTecnico_TipoDocumento] FOREIGN KEY([tipoDoc])
REFERENCES [dbo].[TipoDocumento] ([idTipoDocumento])
GO
ALTER TABLE [dbo].[DirectorTecnico] CHECK CONSTRAINT [FK_DirectorTecnico_TipoDocumento]
GO
ALTER TABLE [dbo].[DirectorTecnico]  WITH CHECK ADD  CONSTRAINT [FK_DirectorTecnico_Club] FOREIGN KEY([idClubHincha])
REFERENCES [dbo].[Club] ([idClub])
GO
ALTER TABLE [dbo].[DirectorTecnico] CHECK CONSTRAINT [FK_DirectorTecnico_Club]
GO
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD  CONSTRAINT [FK_Localidad_Provincia] FOREIGN KEY([idProvincia])
REFERENCES [dbo].[Provincia] ([idProvincia])
GO
ALTER TABLE [dbo].[Localidad] CHECK CONSTRAINT [FK_Localidad_Provincia]
GO
USE [master]
GO
